.board {
  /* border: 3px dashed green; */
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 70%;
  text-align: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
  width: 33%;
} 

.s0, .s1, .s2, .s3, .s5 {
  border-bottom: 3px solid var(--darkpurple);
}

.s6, .s7, .s8 {
  border-top: 3px solid var(--darkpurple);
}

.s0, .s3, .s6 {
  border-right: 3px solid var(--darkpurple);
}

.s2, .s5, .s8 {
  border-left: 3px solid var(--darkpurple);
}


.s3, .s5 {
  border-top: 3px solid var(--darkpurple);
}

.s4 {
  border: 3px solid var(--darkpurple);
}

.s1 {
  border-left: 3px solid var(--darkpurple);
  border-right: 3px solid var(--darkpurple);
}

.s7 {
  border-left: 3px solid var(--darkpurple);
  border-right: 3px solid var(--darkpurple);
}