body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.center {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-flow: column;
}

.row {
    flex-flow: row;
}

.player-img {
  height: 100px;
  width: auto;
}