body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 70%;
}

.board {
  text-align: center;
}

.square {
  border: 2px solid #000;
  display: inline-block;
  height: 33%;
  width: 33%;
  min-width: 200px;
  min-height: 200px;
} 